# Test Dashboard


| :clock10: Start time | :hourglass: Duration |
| --- | ---: |
|9/22/2025, 2:20:55 AM|0.208 s|

| | :white_check_mark: Passed | :x: Failed | :construction: Todo | :white_circle: Total |
| --- | ---: | ---: | ---:| ---: |
|Test Suites|1|0|-|1|
|Tests|7|0|0|7|

## tests/simulationService.test.js [[link](https://github.com/CodeForgeNet/CartLogistic_backend/blob/5a7ab0da1e4895efdf24ee1af59240dae4cfe18b/tests/simulationService.test.js)]

7 passed, 0 failed, 0 todo, done in 0.171 s

- :white_check_mark: Simulation Logic Tests
  - :white_check_mark: Traffic time multipliers should be correct
  - :white_check_mark: Late penalty should be applied when time > base+10
  - :white_check_mark: High-value bonus should be applied when order > Rs 1000 and on time
  - :white_check_mark: Driver fatigue should increase delivery time by 30%
  - :white_check_mark: Efficiency calculation should be correct
  - :white_check_mark: High traffic routes have a fuel surcharge
  - :white_check_mark: Orders are assigned to balance driver workload

